<div class="wrapper favorite-page">
	<div class="favorite-menu">
	<ul>
		<!-- <a href="<%= edit_favorite_path %>"><li><i class="icon ion-compose"></i></li></a> -->
		<iframe src="https://embed.spotify.com/?uri=spotify:artist:<%= @favorite.spotify_id %>" width="250" height="80" frameborder="0" allowtransparency="true"></iframe>
	</ul>

	</div>
		<div class="artist-header">		
			<div class="column-12 title-box">
					<%= link_to edit_favorite_path, {:action => 'edit', :id => @favorite.name}, :method => 'get' do %> 
					<i class="icon ion-android-settings"> </i>
					<% end %> 
					<h1> <%= @favorite.name %> </h1>
			</div>		
			<div class="column-12 head-image" style="background-image: url(<%= @favorite.image %>)">
			</div>
		</div>


		<% if @favorite.instagram_id != "" %>							<!-- Show instagram images -->
			<div class="column-12 insta-box">
				<h2 class="box-header">Latest from instagram</h2>
				<div id="instafeed"></div>			
			</div>
		<% end %>
				
				<% if @favorite.twitter_user != "" %>
				<div class="column-12 twitter-box">
					<!-- show tweets -->
					<div class="inside-box">
						<h2 class="box-header">Latest tweets</h2>

						<% @tweets_result.each do |tweet| %>					
							<div class="tweet">
								<a target="_blank" href="<%= tweet.user.url %>"><h3> <%= tweet.user.name %> tweeted:</h3></a>
								 <a target="_blank" href="<%= tweet.url %>"><p> <%= tweet.text %> </p></a>
								 <pre>created: <%= tweet.created_at %></pre>
							</div>			 
						<% end %>
					</div>
					</div>
					<% end %>


				<div class="column-12 tour-box">
					<div class="inside-box">
							<h2 class="box-header">Upcoming tour dates </h2>
							<% if @events.empty? %>
								<p> Not on tour </p>
							<% else %> 
								<% @events.each do |event| %>
									<div class="tweet">
										 <a target="_blank" href=" <%= @events.first['ticket_url'] %>"><p><%= event['title'] + " " + event['formatted_datetime'] %></p></a>
									</div>
								<% end %>	
							<% end %>	

						
							<% if !@close_events.empty? %>
								<br>
								<h2 class="box-header"> Events near <%= current_user.city %>  </h2>

								<% @close_events.each do |c| %>
								<div class="tweet">
									<a target="_blank" href=" <%= @events.first['ticket_url'] %>"> <p><%= c[:event]['title'] + " " + c[:event]['formatted_datetime'] %></p></a>
								</div>
								<% end %> 
							<% end %> 						
					</div>
				</div>

				<div class="column-12 news">
					<div class="inside-box">
						<h2 class="box-header"> News </h2>	
						<% if @news_search %>
							<% @news_search.each do |news| %>
								<div class="tweet">
									 <a target="_blank" href="<%= news.url %>"><h3><%= news.title %> </h3></a>
									 <pre> <%= news.date %> </pre>
									 <a target="_blank" href="<%= news.url %>"><p> <%= news.description %></p></a> 
								</div>				
							<% end %>
						<% else %>
							 <p> You can add news in the <%= link_to 'Edit', {:action => 'edit', :id => @favorite.name}, :method => 'get' %> section </p>
						<% end %>

					</div>

	<!-- -->


				

			</div>
		</div>

</div>

  <script type="text/javascript">
    var feed = new Instafeed({
        get: 'user',
        userId: "<%= @instagram_id %>",
        accessToken: '15944678.5ad9fb1.40bd2a22214844948417214abd4c320f',
        limit: 9,
        template: '<a title="{{caption}}" class="fancybox" rel="gallery1" href="{{image}}"><img src="{{image}}" /></a>',
        resolution: 'standard_resolution',
    });
    feed.run();


</script>

	
	





