<div class="wrapper favorite-page">
	<div class="artist-header">
		
		<div class="column-12 title"> 
			<h1> <%= @favorite.name %> </h1>
		</div>
		
		<div class="column-12 head-image" style="background-image: url(<%= @artist.images.first['url'] %>"> 
		</div>

	</div>


	<div class="clearfix"></div>

	<div class="favorites-row">
		
		<div class="column-12 social-form">
			<% if @favorite.instagram_id == "" %>
				<!-- Instagram form -->
					<%= form_for @favorite do |f| %> 
						<%= f.label "Add Artist Instagram Account" %> <br>
						<%= f.text_field(:instagram_id) %> <br>
						<%= hidden_field_tag 'name', @favorite.name %> 
						<%= f.submit "Save changes", class: "btn btn-primary" %>
					<% end %> 
				<% else %>
						<!-- Show instagram images -->
				<% @instagram_images.each do |instagram| %>
					   <%= image_tag instagram.images.first.last.url , :class => 'insta-img' %>
					<% end %>
				<% end %>

		</div>
		<div class="column-12 social-form">
			<% if @favorite.twitter_user == "" %>
				<!--  show form for twitter -->
					<%= form_for @favorite do |f| %> 
						<%= f.label "Add Twitter Account" %> <br>
						<%= f.text_field(:twitter_user) %> <br>
						<%= hidden_field_tag 'name', @favorite.name %> 
						<%= f.submit "Save changes", class: "btn btn-primary" %>
					<% end %> 
			<% else %>
				<!-- show tweets -->
				<% @tweets.each do |tweet| %>
					<div class="tweet"> <%= tweet.text %> </div>
				<% end %> %>
			<% end %>
		</div>

	</div>
	
	<%= console %>

</div>


	





