<div class="wrapper">
	
	<h1> Hello <%= @user.first_name %> </h1>

	<div class="column-1"> 
			<table>
				<tr>
					<td> Email:  </td>
					<td> <%= current_user.email %> </td>
				</tr>
				<tr>
					<td> Full name:  </td>
					<td> <%= current_user.first_name.titleize + " " + current_user.last_name.titleize %> </td>
				</tr>
				<tr>
					<td> City:  </td>
					<td> <%= current_user.city %> </td>
				</tr>
				<tr>
					<td> Created user:  </td>
					<td> <%= current_user.created_at %> </td>
				</tr>
			</table>
	</div>

	<div class="column-12"> <h2> <%= link_to "Your favorites", favorites_path %> </h2></div>

	<div class="column-12"> <h2> <%= link_to "Edit Profile", edit_user_registration_path %> </h2></div>


</div>



