<!DOCTYPE html>
<html>
<head>
  <title>FlyFanatic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"> 
<%= javascript_include_tag "insta" %> 

	
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="body-<%= params[:controller].sub("/","-") %>-page">



<%= render 'shared/navbar' %> 



<div id="content"> 

<%= yield %>

</div>

</body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	

</html>


