<!DOCTYPE html>
<html>
<head>
  <title>FlyFanatic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"> 
</head>
<body class="body-<%= params[:controller] %>-page">

<%= render 'shared/navbar' %> 



<div id="content"> 

<%= yield %>

</div>


</body>
</html>
